{{ template "header" }}
<body>
    {{if .Flash}}
    <div><h2 style="color: red;">Error: {{.Flash}}</h2></div>
    {{end}}
    <h2>To Do List</h2>
    <div>
        There are {{len .Todos.List}} To Do items
    </div>
    <div>
        {{range .Todos.List}}
        <div id = "todoitem">
            <p>
                Id - {{.}}
            </p>
            <form action="/read/{{.Id}}">
                <input type="submit" value="Read"/>
            </form>
            <form action="/update/{{.Id}}">
                <input type="submit" value="Update"/>
            </form>
            <form action="/delete/{{.Id}}" method="DELETE">
                <input type="submit" value="Delete"/>
            </form>
        </div>
        {{end}}
    </div>
    <h3>List capacity: {{len .Todos.List}}/{{.Todos.MaxSize}}</h3>
</body>