{{ template "header" }}
<body>
    <h2>Updating To Do {{.Todo.Id}}</h2>
    <form action="/edit/{{.Todo.Id}}" method="PUT">
        <div id="forminput">
            <p>Contents:</p>
            <input type="text" name="contents" value="{{.Todo.Contents}}" placeholder="{{.Todo.Contents}}">
        </div>
        <div id="forminput">
            <p>Status:</p>
            <!-- <input list="statuses" name="status" value="{{.Todo.Status}}" placeholder="{{.Todo.Status}}"> -->
            <select name="status" value="{{.Todo.Status}}" placeholder="{{.Todo.Status}}" style="width: 25%; height:3%">
                <option value="To Do">To Do</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    <div>
        <a href="/list">Back to list</a>
    </div>
    {{if .Flash}}
    <div><h2 style="color: red;">Error: {{.Flash}}</h2></div>
    {{end}}
</body>