{{ template "header" }}
<body>
    <h2>To Do List</h2>
    <div>
        There are {{len .List}} To Do items
    </div>
    <div>
        {{range .List}}
        <div id = "todoitem">
            <p>
                {{.}}
            </p>
            <form action="/read/{{.Id}}">
                <input type="submit" value="Read"/>
            </form>
            <form action="/update/{{.Id}}">
                <input type="submit" value="Update"/>
            </form>
            <form action="/delete/{{.Id}}" method="DELETE">
                <input type="submit" value="Delete"/>
            </form>
        </div>
        {{end}}
    </div>
</body>